--- krunner/krunner.desktop.cmake.orig	2019-11-02 05:25:34.436902000 +0000
+++ krunner/krunner.desktop.cmake	2019-11-02 05:25:51.361286000 +0000
@@ -49,7 +49,7 @@ Type=Application
 X-DBUS-StartupType=Unique
 X-DBUS-ServiceName=org.kde.krunner
 X-KDE-StartupNotify=false
-X-KDE-Shortcuts=Alt+Space,Alt+F2,Meta+Space,Search
+X-KDE-Shortcuts=Alt+Space,Alt+F2,Search
 Actions=RunClipboard
 X-KDE-Wayland-Interfaces=org_kde_plasma_window_management
 
